@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* dark */
.dark {
  --background: #0a0a0a;
  --foreground: #aa9f9f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s; 
}

@layer utilities {
  .animate-gradient {
    animation: gradient-move 3s linear infinite;
  }

  .animate-spin-slow {
    animation: spin 15s linear infinite;
  }

  .animate-reverse-spin {
    animation: reverse-spin 20s linear infinite;
  }
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

@keyframes reverse-spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}